.edit_button{
    border : 1px solid blue;
    border-radius: 5px;
    padding : 2px;
    margin-right : 2px;
}
.delete__button{
    border : 1px solid red;
    border-radius: 5px;
    padding : 2px;
    margin-right : 2px;
}
.detail__component{
    padding-top: 50px;
}
.detail__Img{
   margin-left : 150px;
   width: 80vw;
   height: 250px;
   border-radius: 10px;
   object-fit: cover;
}

.detail__container{
   display: flex;
   align-items: center; 
}
.detail__title{
   font-size: 30px;
   border: none;
   padding: 20px;
   width: 70vw;
}
