:root {
  --primary-background: rgb(212, 238, 247);
  --text-color: #212121;
  --tertiary-background: lightblue;
  --font--color1: black;
  --font-color2: darkgrey;
  --inner-background: white;
}
.darkTheme {
  --primary-background: #171f24;
  --text-color: #212121;
  --tertiary-background: #161614bd;
  --font--color1: white;
  --font-color2: grey;
  --inner-background: var(--tertiary-background);
}
.App {
  padding: 0 100px;
  /* background-color: rgb(212, 238, 247); */
  background-color: var(--primary-background);
  margin-top: 75px;
}
body {
  /* background-color: rgb(212, 238, 247); */
  background-color: var(--primary-background);
}

@media only screen and (max-width: 600px) {
  .App {
    padding: 0 0px;
    flex-direction: column;
  }
}
