.category {
  margin: 2px;
  display: flex;
  margin-bottom: 5px;
  color: grey;
  border-bottom: 2px solid grey;
}
.link {
  text-decoration: none;
  color: darkgray;
}
@media only screen and (max-width: 600px) {
  .categories {
    display: flex;
    flex-direction: column;
    height: 20px;
  }
  .category {
    border-bottom: none;
  }
}
