.sidebar {
  margin: 1px;
  display: flex;
  border: 3px solid var(--tertiary-background);
  border-radius: 10px;
  margin: 10px;
  flex-direction: column;
  align-items: center;
  height: 100%;
  position: sticky;
  top: 0;
  background-color: var(--inner-background);
}

@media only screen and (max-width: 600px) {
  .sidebar {
    display: flex;
    position: fixed;
    display: none;
    margin: 74px 0 0 0;
    background-color: rgb(212, 238, 247);
    border: none;
    z-index: 0;
  }
}
