.home__container {
  display: flex; /* grid-template-columns: 2fr 6fr 2fr; */
  left: 20%;
  right: 20%;
  /* flex: 1; */
}

@media only screen and (max-width: 600px) {
  .home__container {
    display: flex;
    flex-direction: column;
  }
}
.home__posts {
  left: 50%;
}
