.post {
  width: 60%;
  border: 3px solid var(--tertiary-background);
  border-radius: 10;
  margin: 10px;
  justify-self: center;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  height: 100%;
  border-radius: 10px;
  color: var(--font--color1);
  background-color: var(--inner-background);
}
.post__image {
  width: 100%;
  border-radius: 0 0 10px 10px;
  object-fit: cover;
}
.post__upper {
  display: flex;
}
.post__icon {
  align-self: center;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-right: 10px;
}
.post__details {
  display: flex;
  flex-wrap: wrap;
  word-break: break-word;
}
.post__seemore {
  color: grey;
}
.post__author {
  color: var(--font--color1);
  text-decoration: none;
}
.post__createdDate {
  color: grey;
}
.post__branch {
  color: darkgray;
}
.post__heading {
  margin-bottom: 10px;
  margin-top: 10px;
  word-break: break-word;
}
